
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        grid-column: span ($i);
    }
}
@media only screen and (max-width: 576px)  {
    @for $i from 1 through 12 {
      .col-xs-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  
  @media (max-width: 992px) {
    @for $i from 1 through 12 {
      .col-md-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  
  @media (max-width: 1200px) {
    @for $i from 1 through 12 {
      .col-lg-#{$i} {
        grid-column: span ($i);
      }
    }
  }