.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    
    thead th, tfoot th{
        text-align: start;
        font-weight: 600;
    }
    td, th{
        padding: 9px 5px;
    }
    &.table-bordered{
        thead tr, tbody tr{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        tbody tr:last-child{
            border-bottom: none;
        }
        tfoot tr{
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    &.table-hover{
        tbody tr:hover{
            background: $secundary-color;
            color: #ffffff;
        }
    }
}