$primary-color:#218173;
$secundary-color:#7ec7ae;
$tertiary-color:#d3dedc;
$fourtiary-color:#98bbd6;
$fivetiary-color:#487b94;
$accent-color:#218173;
$error-color:#f44336;
$teal-color:#00bfa5;
$blue-color:#0091ea;
$yellow-color:#ffa726;
$orange-color:#f57f17 ;
$white:#fff;
$black:#000;
$dark-color:#202020;
$light-color:#fafafa;
$sidebaropen:250px;
$sidebar-compact:50px;
// font size
$font-size-text:14px;
$font-size-text-md:14px;
$font-size-text-sm:14px;

$font-size-primary:22px;
$font-size-primary-md:22px;
$font-size-primary-sm:22px;

$font-size-secundary:20px;
$font-size-secundary-md:20px;
$font-size-secundary-sm:20px;

$font-size-accent:14px;
$font-size-accent-md:14px;
$font-size-accent-sm:14px;
