@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import "variables";
@import "mixins";
body{
    font-family: 'Poppins', sans-serif;
    color: $dark-color;
    padding: 0;
}
body, div, input, label, span, p, table, tr,td,th,tbody,tfoot,thead{
    box-sizing: border-box;
}

@import "fonts";
@import "sidebar";
@import "columns";
@import "scrollbar";
@import "table";
@import "form";
@import "colors";

/*main*/
.main{
    position: relative;
    left: $sidebaropen;
    height: 100vh;
    background-color: $white;
    width: calc(100% - #{$sidebaropen});
}
@import "topbar";
.container{
    padding: 20px;
}
.panel{
    display: block;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    padding: 10px 20px;
    margin-bottom: 20px;
    &-header{
        border-bottom: 1px solid $tertiary-color;
    }
    &-body{
        padding: 10px 0;
    }
}
.no-padding{
    padding: 0;
}
.btn{
    background-color: $primary-color;
    color: $light-color;
    border-radius: 4px;
}

.card{
    &__body{
        width: 100%;
    }
    &__icon{
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.8em;
        position: absolute;
        top: 10px;
        left: 10px;
        color: $fivetiary-color;
    }
    &-body__price{
        display: block;
        font-size: 30px;
        color: $dark-color;
        text-align: center;
        width: 100%;
        line-height: 80px;
    }
    &-body__title{
        line-height: 40px;
        text-align: center;
        font-weight: 600;
        color: $dark-color;
        display: block;
    }

    min-height: 120px;
    position: relative;
    
    &.card-item{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 0 0;
        border-radius: 10px;
        overflow: hidden;
    }
} 

.alert{
    display: block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    margin: 20px 0;
    box-sizing: border-box;
    position: relative;
    &.danger, &.error{
        background-color: $error-color;
        color: $light-color;
    }
    &.success{
        background-color: $primary-color;
        color: $light-color;
    }
    &.info{
        background-color: $teal-color;
        // color: $light-color;
        font-weight: 500;
    }
    .title-alert{
        font-weight: 600;
    }
    ul{
        margin: 0;
    }

    
}