@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color:#218173;
    --secundary-color:#7ec7ae;
    --tertiary-color:#7ec7ae;
    --fourtiary-color:#98bbd6;
    --fivetiary-color:#487b94;
    --accent-color:#218173;
    --error-color:#C61818;
    --white:#fff;
    --black:#000;
    --dark-color:#202020;
    --light-color:#fafafa;
    --sidebar-open:250px;
    --sidebar-compact:50px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    padding: 0;
}
body, div{
    box-sizing: border-box;
}
.sidebar{
    width: var(--sidebar-open);
    height: 100vh;
    background-color: var(--primary-color);
    overflow-y: auto;
    position: fixed;
    &::-webkit-scrollbar{
        background-color: var(--secundary-color);
        width: 8px;
        border-left: 1px solid var(--secundary-color);
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--primary-color);
        border: 1px solid var(--tertiary-color);
        border-radius: 50px;
    }
    & a{
        text-decoration: none;
    }
    & .logo a{
        color: var(--light-color);
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
    }
    & .logo a .icon{
        padding: 5px 15px;
        font-size: 20px;
    }
    & nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    & nav ul li.title{
        font-weight: 600;
        padding: 10px 10px;
    }
    & nav ul li.separator{
        padding-top: 10px;
        border-bottom: 1px solid var(--tertiary-color);
    }
    & nav ul a{
        position: relative;
        display: block;
        padding: 10px 20px;
        transition: 0.3s;
        color: var(--tertiary-color);
    }
    & nav ul a:hover{
        background-color: var(--secundary-color);
        font-weight: 600;
    }
    & nav ul li.active a,
    & nav ul a:hover{
        background-color: var(--secundary-color);
        color: var(--light-color);
        font-weight: 600;
    }
    & nav ul a .icon{
        padding-right: 15px;
    }
}
/*main*/
.main{
    position: relative;
    width: calc(100vw - var(--sidebar-open));
    left: var(--sidebar-open);
    height: 100vh;
}
.main .topbar{
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;   
}
.topbar a{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: start;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-color);
}
.topbar .business a{
    display: block;
}
.topbar a:hover{
    background: var(--tertiary-color);
}
.topbar .business a span{ 
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.topbar .business a .identification{ 
    font-size: 14px;
    font-weight: 500;
}
