@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #202020;
  padding: 0;
}

body, div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, span, div, li {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

strong {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

h1 {
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #218173;
  overflow-y: auto;
  position: fixed;
}

.sidebar::-webkit-scrollbar {
  background-color: #7ec7ae;
  width: 8px;
  border-left: 1px solid #7ec7ae;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #218173;
  border: 1px solid #d3dedc;
  border-radius: 50px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .logo a {
  color: #202020;
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
}

.sidebar .logo a .icon {
  padding: 5px 15px;
  font-size: 20px;
}

.sidebar .logo a .title * {
  font-size: 25px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li.title {
  font-weight: 600;
  padding: 10px 10px;
}

nav ul li.separator {
  padding-top: 10px;
  border-bottom: 1px solid #d3dedc;
}

nav ul a {
  position: relative;
  display: block;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #d3dedc;
}

nav ul a:hover {
  background-color: #7ec7ae;
  font-weight: 600;
}

nav ul li.active a,
nav ul a:hover {
  background-color: #7ec7ae;
  color: #fafafa;
  font-weight: 600;
}

nav ul a .icon {
  padding-right: 15px;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media only screen and (max-width: 576px) {
  .col-xs-1 {
    grid-column: span 1;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .col-xs-12 {
    grid-column: span 12;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-12 {
    grid-column: span 12;
  }
}

@media (max-width: 992px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}

@media (max-width: 1200px) {
  .col-lg-1 {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table thead th, .table tfoot th {
  text-align: start;
  font-weight: 600;
}

.table td, .table th {
  padding: 9px 5px;
}

.table.table-bordered thead tr, .table.table-bordered tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table.table-bordered tbody tr:last-child {
  border-bottom: none;
}

.table.table-bordered tfoot tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.table.table-hover tbody tr:hover {
  background: #7ec7ae;
  color: #ffffff;
}

/*main*/
.main {
  position: relative;
  left: 250px;
  height: 100vh;
  background-color: #fff;
  width: calc(100% - 250px);
}

.topbar {
  width: 100%;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}

.topbar a {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: start;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #202020;
}

.topbar a:hover {
  background: #7ec7ae;
}

.topbar .business a {
  display: block;
}

.topbar .business a span {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.topbar .business a .identification {
  font-size: 14px;
  font-weight: 500;
}

.container {
  padding: 20px;
}

.panel {
  display: block;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
}

.panel-header {
  border-bottom: 1px solid #d3dedc;
}

.panel-body {
  padding: 10px 0;
}

.no-padding {
  padding: 0;
}

.btn {
  background-color: #218173;
  color: #fafafa;
  border-radius: 4px;
}

.card {
  min-height: 120px;
  position: relative;
}

.card__body {
  width: 100%;
}

.card__icon {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.8em;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #487b94;
}

.card-body__price {
  display: block;
  font-size: 30px;
  color: #202020;
  text-align: center;
  width: 100%;
  line-height: 80px;
}

.card-body__title {
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  color: #202020;
  display: block;
}

.card.card-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.bg__default {
  background-color: rgba(0, 0, 0, 0.08);
}

.bg__green {
  background-color: #218173;
}

.bg__danger {
  background-color: #f44336;
}

.bg__teal {
  background-color: #00bfa5;
}

.bg__blue {
  background-color: #0091ea;
}

.bg__yellow {
  background-color: #ffa726;
}

.bg__orange {
  background-color: #f57f17;
}

.color__white {
  color: #fafafa;
}

.color__dark {
  color: #202020;
}
/*# sourceMappingURL=index.css.map */