@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #202020;
  padding: 0;
}

body, div, input, label, span, p, table, tr, td, th, tbody, tfoot, thead, a, button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0091ea;
}

hr {
  border-color: rgba(32, 32, 32, 0.1);
  margin: 15px 0;
}

.alert {
  display: block;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.alert .title-alert {
  font-weight: 600;
}

.alert ul {
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn--sm {
  padding: 2px 5px;
  font-size: 12px;
}

.badge {
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.text-message {
  display: block;
}

.no-padding {
  padding: 0;
}

.btn, .badge, .alert {
  color: #202020;
  border: 1px solid rgba(32, 32, 32, 0.1);
  background: #fafafa;
}

.btn:hover, .badge:hover, .alert:hover {
  background: rgba(32, 32, 32, 0.1);
}

.btn--danger, .badge--danger, .alert--danger {
  background: #f57f17;
  border: 1px solid rgba(245, 127, 23, 0.8);
  color: #fafafa;
}

.btn--danger:hover, .badge--danger:hover, .alert--danger:hover {
  background: rgba(245, 127, 23, 0.8);
}

.btn--error, .badge--error, .alert--error {
  background: #f44336;
  border: 1px solid rgba(244, 67, 54, 0.8);
  color: #fafafa;
}

.btn--error:hover, .badge--error:hover, .alert--error:hover {
  background: rgba(244, 67, 54, 0.8);
}

.btn--teal, .badge--teal, .alert--teal {
  background: #00bfa5;
  color: #fafafa;
  border: 1px solid rgba(0, 191, 165, 0.8);
}

.btn--teal:hover, .badge--teal:hover, .alert--teal:hover {
  background: rgba(0, 191, 165, 0.8);
}

.btn--blue, .badge--blue, .alert--blue {
  background: #0091ea;
  border: 1px solid rgba(0, 145, 234, 0.8);
  color: #fafafa;
}

.btn--blue:hover, .badge--blue:hover, .alert--blue:hover {
  background: rgba(0, 145, 234, 0.8);
}

.btn--success, .badge--success, .alert--success {
  background: #218173;
  border: 1px solid rgba(33, 129, 115, 0.8);
  color: #fafafa;
}

.btn--success:hover, .badge--success:hover, .alert--success:hover {
  background: rgba(33, 129, 115, 0.8);
}

.btn--dark, .badge--dark, .alert--dark {
  background: #202020;
  border: 1px solid rgba(32, 32, 32, 0.8);
  color: #fafafa;
}

.btn--dark:hover, .badge--dark:hover, .alert--dark:hover {
  background: rgba(32, 32, 32, 0.8);
  color: #fafafa;
}

.table__bg, .panel__bg, .card__bg {
  background: #fafafa;
}

.table--danger .table__bg, .panel--danger .table__bg, .card--danger .table__bg, .table--danger .panel__bg, .panel--danger .panel__bg, .card--danger .panel__bg, .table--danger .card__bg, .panel--danger .card__bg, .card--danger .card__bg {
  background: #f57f17;
}

.table--error .table__bg, .panel--error .table__bg, .card--error .table__bg, .table--error .panel__bg, .panel--error .panel__bg, .card--error .panel__bg, .table--error .card__bg, .panel--error .card__bg, .card--error .card__bg {
  background: #f44336;
}

.table--teal .table__bg, .panel--teal .table__bg, .card--teal .table__bg, .table--teal .panel__bg, .panel--teal .panel__bg, .card--teal .panel__bg, .table--teal .card__bg, .panel--teal .card__bg, .card--teal .card__bg {
  background: #00bfa5;
}

.table--blue .table__bg, .panel--blue .table__bg, .card--blue .table__bg, .table--blue .panel__bg, .panel--blue .panel__bg, .card--blue .panel__bg, .table--blue .card__bg, .panel--blue .card__bg, .card--blue .card__bg {
  background: #0091ea;
}

.table--success .table__bg, .panel--success .table__bg, .card--success .table__bg, .table--success .panel__bg, .panel--success .panel__bg, .card--success .panel__bg, .table--success .card__bg, .panel--success .card__bg, .card--success .card__bg {
  background: #218173;
}

.table--dark .table__bg, .panel--dark .table__bg, .card--dark .table__bg, .table--dark .panel__bg, .panel--dark .panel__bg, .card--dark .panel__bg, .table--dark .card__bg, .panel--dark .card__bg, .card--dark .card__bg {
  background: #202020;
}

.table__bg-hover:hover, .panel__bg-hover:hover, .card__bg-hover:hover {
  background: rgba(32, 32, 32, 0.1);
}

.table--danger .table__bg-hover:hover, .panel--danger .table__bg-hover:hover, .card--danger .table__bg-hover:hover, .table--danger .panel__bg-hover:hover, .panel--danger .panel__bg-hover:hover, .card--danger .panel__bg-hover:hover, .table--danger .card__bg-hover:hover, .panel--danger .card__bg-hover:hover, .card--danger .card__bg-hover:hover {
  background: rgba(245, 127, 23, 0.8);
}

.table--error .table__bg-hover:hover, .panel--error .table__bg-hover:hover, .card--error .table__bg-hover:hover, .table--error .panel__bg-hover:hover, .panel--error .panel__bg-hover:hover, .card--error .panel__bg-hover:hover, .table--error .card__bg-hover:hover, .panel--error .card__bg-hover:hover, .card--error .card__bg-hover:hover {
  background: rgba(244, 67, 54, 0.8);
}

.table--teal .table__bg-hover:hover, .panel--teal .table__bg-hover:hover, .card--teal .table__bg-hover:hover, .table--teal .panel__bg-hover:hover, .panel--teal .panel__bg-hover:hover, .card--teal .panel__bg-hover:hover, .table--teal .card__bg-hover:hover, .panel--teal .card__bg-hover:hover, .card--teal .card__bg-hover:hover {
  background: rgba(0, 191, 165, 0.8);
}

.table--blue .table__bg-hover:hover, .panel--blue .table__bg-hover:hover, .card--blue .table__bg-hover:hover, .table--blue .panel__bg-hover:hover, .panel--blue .panel__bg-hover:hover, .card--blue .panel__bg-hover:hover, .table--blue .card__bg-hover:hover, .panel--blue .card__bg-hover:hover, .card--blue .card__bg-hover:hover {
  background: rgba(0, 145, 234, 0.8);
}

.table--success .table__bg-hover:hover, .panel--success .table__bg-hover:hover, .card--success .table__bg-hover:hover, .table--success .panel__bg-hover:hover, .panel--success .panel__bg-hover:hover, .card--success .panel__bg-hover:hover, .table--success .card__bg-hover:hover, .panel--success .card__bg-hover:hover, .card--success .card__bg-hover:hover {
  background: rgba(33, 129, 115, 0.8);
}

.table--dark .table__bg-hover:hover, .panel--dark .table__bg-hover:hover, .card--dark .table__bg-hover:hover, .table--dark .panel__bg-hover:hover, .panel--dark .panel__bg-hover:hover, .card--dark .panel__bg-hover:hover, .table--dark .card__bg-hover:hover, .panel--dark .card__bg-hover:hover, .card--dark .card__bg-hover:hover {
  background: rgba(32, 32, 32, 0.8);
}

.text-color--danger {
  color: #f57f17;
}

.text-color--error {
  color: #f44336;
}

.text-color--teal {
  color: #00bfa5;
}

.text-color--blue {
  color: #0091ea;
}

.text-color--dark {
  color: #202020;
}

.text-color--success {
  color: #218173;
}

.text-color--white {
  color: #fafafa;
}

.text-color--danger-hover:hover {
  color: #f57f17;
}

.text-color--error-hover:hover {
  color: #f44336;
}

.text-color--teal-hover:hover {
  color: #00bfa5;
}

.text-color--blue-hover:hover {
  color: #0091ea;
}

.text-color--dark-hover:hover {
  color: #202020;
}

.text-color--success-hover:hover {
  color: #218173;
}

.text-color--white-hover:hover {
  color: #fafafa;
}

.container {
  position: relative;
  padding: 20px;
}

.panel {
  display: block;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.panel-header {
  border-bottom: 1px solid #d3dedc;
}

.panel-body {
  padding: 10px 0;
}

.card {
  position: relative;
  min-height: 120px;
  position: relative;
  padding: 10px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.card__body {
  width: 100%;
}

.card__icon {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.8em;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #487b94;
}

.card-body__price {
  display: block;
  font-size: 30px;
  color: #202020;
  text-align: center;
  width: 100%;
  line-height: 80px;
}

.card-body__title {
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  color: #202020;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card__bg {
  border-radius: 0 0 10px 10px;
  border: 0;
  color: #202020;
}

p, span, div, li {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

strong {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

h1 {
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: start;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #218173;
  overflow-y: auto;
  position: fixed;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .logo a {
  color: #202020;
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
}

.sidebar .logo a .icon {
  padding: 5px 15px;
  font-size: 20px;
}

.sidebar .logo a .title * {
  font-size: 25px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li.title {
  font-weight: 600;
  padding: 10px 10px;
}

nav ul li.separator {
  padding-top: 10px;
  border-bottom: 1px solid #d3dedc;
}

nav ul a {
  position: relative;
  display: block;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #d3dedc;
}

nav ul a:hover {
  background-color: #7ec7ae;
  font-weight: 600;
}

nav ul li.active a,
nav ul a:hover {
  background-color: #7ec7ae;
  color: #fafafa;
  font-weight: 600;
}

nav ul a .icon {
  padding-right: 15px;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media only screen and (max-width: 576px) {
  .col-xs-1 {
    grid-column: span 1;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .col-xs-12 {
    grid-column: span 12;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-12 {
    grid-column: span 12;
  }
}

@media (max-width: 992px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}

@media (max-width: 1200px) {
  .col-lg-1 {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
}

.scrollbar::-webkit-scrollbar, .modal-content::-webkit-scrollbar {
  background-color: #7ec7ae;
  width: 8px;
  border-left: 1px solid #7ec7ae;
}

.scrollbar::-webkit-scrollbar-thumb, .modal-content::-webkit-scrollbar-thumb {
  background-color: #218173;
  border: 1px solid #d3dedc;
  border-radius: 50px;
}

.scrollbar.scrollbar-dark::-webkit-scrollbar, .modal-content.scrollbar-dark::-webkit-scrollbar {
  background-color: #060606;
  border-right: 1px solid #060606;
  border-left: 1px solid #060606;
}

.scrollbar.scrollbar-dark::-webkit-scrollbar-thumb, .modal-content.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #464646;
  border: 1px solid #464646;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table thead th, .table tfoot th {
  text-align: start;
  font-weight: 600;
}

.table td, .table th {
  padding: 9px 5px;
}

.table.table-bordered thead tr, .table.table-bordered tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table.table-bordered tbody tr:last-child {
  border-bottom: none;
}

.table.table-bordered tfoot tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.table.table-hover tbody tr:hover {
  background: #7ec7ae;
  color: #ffffff;
}

div, input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.group-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px;
}

.form__label-control {
  width: 20%;
  text-align: right;
  padding: 15px 12px;
  font-weight: 600;
}

.form__input {
  width: 80%;
  position: relative;
}

.form__message {
  padding: 10px 0;
  width: 100%;
  font-weight: 600;
}

.form-control {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 15px 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form__check {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.form__check input {
  display: none;
}

.form__check span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.form__check input[type=radio] ~ span {
  border-radius: 50%;
}

.form__check:hover input ~ span {
  background-color: rgba(32, 32, 32, 0.1);
}

.form__check input:checked ~ span {
  background-color: #218173;
}

.form__check span:after {
  content: "";
  position: absolute;
  display: none;
}

.form__check input:checked ~ span:after {
  display: block;
}

.form__check span:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

select.form-control {
  display: block;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  max-height: 100vh;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */
}

.modal div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-content {
  max-height: 95vh;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

.modal-body {
  padding: 40px;
}

.modal-footer {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  border-top: 1px solid rgba(32, 32, 32, 0.1);
}

.modal-header {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(32, 32, 32, 0.1);
}

.modal-sm .modal-content {
  width: 40%;
}

.modal-lg .modal-content {
  width: 90%;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 10px;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .success-return {
  position: relative;
}

@media (max-width: 767px) {
  .modal-content {
    width: 100%;
  }
}

/*main*/
.main {
  position: relative;
  left: 250px;
  height: 100vh;
  background-color: #fff;
  width: calc(100% - 250px);
}

.topbar {
  width: 100%;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}

.topbar a {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: start;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #202020;
}

.topbar a:hover {
  background: #7ec7ae;
}

.topbar .business a {
  display: block;
}

.topbar .business a span {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.topbar .business a .identification {
  font-size: 14px;
  font-weight: 500;
}
/*# sourceMappingURL=index.css.map */